.column {
  width: 30%;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 13px;
  margin: 10px;
}

.columnChip {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  padding: 5px;
}
